div.settings {
    position: fixed;
    padding: 0;
    top: calc(7.5% - 5px);
    left: calc(7.5% - 5px);
    width: 85%;
    height: 85%;
}
div.settings div.container {
    max-width: 85vmin;
    max-height: 85vh;
    width: auto;
    height: auto;
    margin: auto;
    background-color: #737373;
    border-radius: 5px;
    border: 5px #646464 dotted;
}
div.settings div.aligner {
    position: relative;
    top: -8vmin;
    padding: 1em;
    display: block;
}

div.settings h2 {
    position: relative;
    font-weight: bold;
    text-anchor: middle;
    font-size: 8vmin;
    color: #ffffff;
    width: auto;
    bottom: 6vmin;
    text-align: center;
    text-align-last: center;
    margin: 0;
}
div.settings h3 {
    color: #ffffff;
    text-align: left;
    text-align-last: left;
    font-size: 3.5vmin;
    margin: 0;
}
div.settings h4 {
    color: #ffffff;
    text-align: center;
    text-align-last: center;
    font-size: 3.1vmin;
    margin: 0;
}
div.settings p {
    color: #dfdfdf;
    text-align: left;
    text-align-last: left;
    text-indent: 0;
    font-size: 2.9vmin;
    margin: 0;
}
div.settings hr {
    margin: 0.75vmin;
    padding: 0;
    border: 0.5vmin #646464 solid;
    border-radius: 0.5vmin;
}

div.settings table.options {
    table-layout: fixed;
    margin-left: 3%;
    width: 94%;
    height: auto;
}
div.settings button {
    font-family: 'Roboto', sans-serif;
    font-size: 3vmin;
    background-color: #424242;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 2em;
    border: none;
}
div.settings button:hover {
    background-color: #999999;
}
div.settings #settings_close {
    position: absolute;
    width: 5em;
    height: 2em;
    margin: auto;
    text-align: center;
    text-align-last: center;
    bottom: 0;
    display: block;
}

div.settings button.selected {
    animation-name: settings_selected_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    background-color: #649999;
}
div.settings button.selected:hover {
    background-color: #426464;
    color: #ffffff;
}
@keyframes settings_selected_animation {
    0% {
        color: #ffff55;
    }
    25% {
        color: #55ff55;
    }
    50% {
        color: #55ffff;
    }
    75% {
        color: #ffaaaa;
    }
    100% {
        color: #ffff55;
    }
}

img.settings_gear {
    z-index: 10;
    position: absolute;
    display: inline-block;
    background: none;
    margin: 5px;
    width: 3vmin;
    height: 3vmin;
    image-rendering: pixelated;
    transform-origin: center;
}
img.settings_gear:hover {
    animation-name: settings_gear_spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes settings_gear_spin {
    0% {
        transform: rotate(0deg) scale(1.1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
}